@model List<tblElasticData>
@{
    ViewData["Title"] = "Display Elastic Table";
}

<h2>Display Elastic Table</h2>

<div class="container">
    <form method="get" name="searchForm">
        <input type="hidden" name="searchMailNumber" value="@ViewBag.SearchMailNumber" />
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchSubject" placeholder="Input Mail Subject" value="@ViewBag.SearchSubject">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <form method="get" name="dateFilterForm">
        <div class="row mb-3 d-flex align-items-end">
            <div class="col-md-5">
                <label for="start-date" class="form-label">Start Date</label>
                <input class="form-control" type="date" name="startDate" value="@ViewBag.StartDate">
            </div>
            <div class="col-md-5">
                <label for="end-date" class="form-label">End Date</label>
                <input class="form-control" type="date" name="endDate" value="@ViewBag.EndDate">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" name="filterButton">Filter Dates</button>
            </div>
        </div>
    </form>

    @if (Model != null && Model.Any())
    {
        <h4 class="card-title">Datatable</h4>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable-buttons" class="data-class table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Event Type</th>
                                <th>Event Date</th>
                                <th>Channel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Subject</td>
                                    <td>@item.EventType</td>
                                    <td>@item.EventDate</td>
                                    <td>@item.Channel</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
